* {
    box-sizing: border-box
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color:pink
}
#hero {
    background-image: url(../images/hero.avif);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#hero h2 {
    font-size: 48px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 400px;
    text-align: right;
    padding-right: 50px;
    color: white;
}
.single-column {
    min-width: 600px;
    max-width: 1000px;
    margin: 0px auto;
}
#card-section {
    background-color: #5b00ed;
    color: #bfefff;
    padding: 48px;
}
.card-container {
    display: flex;
    justify-content: space-between;
}
.card {
    flex: 1;
    border: 3px solid #bfefff;
    padding: 18px;
    text-align: center;
    margin: 36px;
}
#cards img {
    width: 200px;
}
.grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    padding: 12px;
    align-items: center;
}
.grid-gallery img {
    width: 200px;
}