* {
    box-sizing: border-box
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(118, 47, 93);
}
#hero {
    background-image: url(../images/Tezza-7882.JPG);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#hero h2 {
    font-size: 48px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 400px;
    text-align: left;
    margin-left: 100px;
    color: white;
    margin-top: 0px;
}
.single-column {
    margin-left: 100px;
}
#card-section {
    background-color: #5b00ed;
    color: #bfefff;
    padding: 48px;
}
.card-container {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 250px;
    border: 3px solid #bfefff;
    padding: 18px;
    text-align: center;
    margin: 36px;
}
#cards img {
    width: 100%;
    object-fit: cover;
    height: 300px
}
.grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    padding: 12px;
    align-items: center;
}
.grid-gallery img {
    width: 100%;
}