* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.single-column {
    background-color: white;
    width: 75%;
    padding: 50px;
    min-width: 500px;
    margin: 50px auto;
}
.light-container-1 {
    background-color: lightpink;
    padding: 48px 0px;
}
.light-container {
    background-color: lightblue;
    padding: 48px 0px;
}
.dark-container {
    background-color: #013D01;
    color: black;
    padding: 48px 0px;
}
.photo-1,
.photo-3,
.photo-2 {
    width: 400px;
}