* {
    box-sizing: border-box
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#hero-1 {
    background-image: url("../images/free-photo-of-autumn-reflections-at-austrian-mountain-lake.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#hero-1 h2 {
    font-size: 100px;
    margin-bottom: 36px;
    color: white;
    margin-top: 300px;
    margin-bottom: 8px;
}
#hero-1 h4 {
    font-size: 36px;
    text-decoration: overline;
    color: orange;
    margin-top: 0px;
    text-shadow: 6px 6px 12px rgb(142, 59, 3);
}
#hero-1 a {
    font-size: px;
    display: inline-block;
    background-color: white;
    color: #333333;
    text-decoration: none;
    padding: 24px;
    margin-top: 0px;
}
#hero-2 {
    background-image: url("../images/pexels-olia-danilevich-5088017.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 100px;
    margin: 0px;
}
#hero-2 .hero-content {
    position: absolute;
    top: 8%;
    left: 20%; 
}
#hero-2 h2 {
    font-size: 72px;
    margin-bottom: 36px;
}
#hero-2 h4 {
    font-size: 24px;
    margin: 0px;
}
#hero-2 a {
    font-size: 14px;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin-top: 36px;
    margin-right: 24px;
}
#hero-3 {
    background-image: url("../images/IMG_9742.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-3 .hero-content {
    margin-top: 350px;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 8px black;
}
#hero-3 h1 {
    font-size: 72px;
    margin-bottom: 24px;
}
#hero-3 h4 {
    font-size: 36px;
    margin: 0px;
}
#hero-3 a {
    display: inline-block;
    background-color: rgb(57, 57, 132);
    color: white;
    text-decoration: none;
    padding: 24px;
    margin-top: 24px;
    margin-right: 12px;
    margin-left: 12px;
    text-shadow: none;
}