/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-1 {
    width: 60vw;
    max-width: 350px;
    margin: 18px;
    background-color: rgb(232, 247, 232);
    box-shadow: 4px 4px 12px rgb(57, 55, 55);
}
.card-style-1 img {
    width: 100%;
}
.card-style-1 p {
    margin: 20px;
    text-align: left;
}
.card-style-1 h2 {
    margin-left: 18px;
}
.card-style-1 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: green;
    display: inline-block;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.card-style-1:hover {
    box-shadow: 4px 4px 20px rgb(57, 55, 55) 
    transform: translateY(-10px);
}