* {
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: sans-serif
}
#layout {
    display: grid;
    grid-template-columns: 150px 400px 1fr;
    margin-top: 70px;
}
#column-1 {
}
#column-2 {
}
#column-3 {
    margin: 0px 24px;
}
.fake-button {
    background-color: #0053a0;
    padding: 12px;
    border-radius: 24px;
    text-align: center;
    color: white;
    margin: 5px 18px;
    display: inline-block;
    min-width: 200px;
    width: 100%;
}
.fake-button-2 {
    background-color: white;
    padding: 12px;
    border: #0053a0 solid ;
    border-radius: 24px;
    text-align: center;
    color: #0053a0;
    margin: 5px 18px;
    display: inline-block;
    min-width: 200px;
    width: 100%;
}
.fake-button-3 {
    background-color: white;
    padding: 12px;
    border: #0053a0 solid ;
    border-radius: 24px;
    text-align: center;
    color: #0053a0;
    margin: 5px 18px;
    display: inline-block;
    min-width: 200px;
    width: 100%;
}
#nike-photo {
    margin-top: 10px=;
    width: 100%;
    min-width: 400px;
    max-width: 550px;
}
.nikes {
    width: 75%;
    padding: 8x;
    
    margin-left: 26px;
    max-width: 200px;
    margin-top: 0px;
}
#column-3 h2 {
   margin-top: 0px;
}
#column-3 p {
    margin-top: 18px;
}
#column-3 a {
    display: block;
}