/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
.image-1 {
    background-color: rgb(126, 59, 59);
    margin-top: 65px;
    width: 90px;
    border: 3px solid maroon;
    padding: 7px;
}
.image-3 {
    background-color:  rgb(126, 59, 59);;
    margin-top: 65px;
    width: 90px;
    border: 3px solid maroon;
    padding: 7px;
}
.image-2 {
    margin: 50px 12px;
    width: 124px;
}
.text {
    background-image: url("../images/Tezza-2213.JPG");
    height: 150px;
    background-size: cover;
    background-position: center center;
    padding: 20px;
    margin: 50px 20px;
}
div.text p {
    margin-top: 75px;
    color: white;
    border: 10px;
    background-color: maroon;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
}